@import "../../styles/colors";

.main-sec {
  min-height: 1024px;
  
  h3 {
    margin: 0;
    font-size: 16px;
    color: gray;
  }

  .main-list {
    padding-top: 140px;
    text-align: center;
  }
}
