@import "../../styles/layout";
@import "../../styles/colors";

.main {
  @extend %default-page;
  min-height: 1024px;
  
  h3 {
    margin: 0;
    font-size: 16px;
    color: gray;
  }

  .product-list {
    text-align: center;
  }
}
