.cart {
  display: flex;
  min-height: 400px;
  margin-top: 93px;
  padding: 47px 18px 50px;
  background-color: #edefef;
  gap: 20px;

  &.mobile {
    display: flex;
    flex-direction: column;
    margin-top: 62px;
  }

  &-buy {
    min-width: 25%;
    border: 1px #ccc solid;
    padding: 18px;
    background-color: white;

    button {
      cursor: pointer;
      background-color: #ffd70f;
      border: none;
      border-radius: 5px;
      width: 100%;
      height: 40px;

      &:hover {
        background-color: #ffc107;
      }
    }
  }
}
