.home {
  min-height: 1024px;
  margin-top: 93px;
  padding-top: 47px;
  background-color: #edefef;

  &.mobile {
    margin-top: 62px;
  }

  h3 {
    margin: 0;
    font-size: 16px;
    color: gray;
  }

  &-list {
    text-align: center;
  }
}
