.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 93px;
  padding: 25px 18px 50px;
  background-color: #edefef;

  &.mobile {
    margin-top: 62px;
  }

  &-form {
    display: flex;
    flex-direction: column;
    width: 32rem;
    padding: 2rem;
    margin-top: 30px;
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
    list-style-type: none;
    background-color: white;

    &.mobile {
      width: 80%;
    }

    div,
    div.column {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    div.row {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    input {
      padding: 1rem;
      border: 0.1rem #c0c0c0 solid;
      border-radius: 0.5rem;
    }

    .button {
      padding: 1rem;
      border: 0.1rem #808080 solid;
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover {
        border: 0.1rem #404040 solid;
      }

      &.primary {
        background-color: $primary;
      }

      &.gray {
        background-color: $gray;
      }

      &.disabled {
        background-color: #ccc;
      }
    }
  }
}
