.footer {
  background-color: #2B2835;
  text-align: center;
  
  &-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;
    
    // mobile version
    &.mobile {
      flex-direction: column;
    }

    &-logo {
      vertical-align: top;
      margin-top: 50px;
    }
    &-common {
      margin-top: 55px;
      margin-left: 50px;
      margin-right: 50px;
      text-align: left;

      &-type {
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 600;
        line-height: 31px;
        margin-bottom: 8px;
      }
      &-title {
        a {
          display: block;
          color: #B8B8B8;
          font-size: 13px;
          font-weight: 500;
          line-height: 22px;;
          text-decoration: none;            
        }
      }
    }    
  }
  
  &-bottom {
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    opacity: 31%;
    padding-bottom: 30px;
  }  
}